<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CCSUN Chart</title>
		<style type="text/css">
		tspan{
			font-family:"微软雅黑",serif;
		}
		.chart {
			min-width: 310px;
			height: 400px;
			margin: 0 auto;
		}
		</style>
	</head>
	<body>
<script src="../static/js/highcharts.js"></script>
<script src="../static/js/zepto.min.js"></script>
<div id="container" class="chart"></div>
<div id="container2" class="chart"></div>
<script src="../static/js/ccsun.js"></script>
	</body>
</html>
